<div class="footer_socialMedia">
  <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram" style="color: #e1306c;"></i></a>
  <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color: #4267b2;"></i></a>
  <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube" style="color: #ff0000;"></i></a>
  <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin" style="color: #0077b5;"></i></a>
</div>
<div class="footer_copyright">
    <p class="footer_name">Rapid <i>blogs</i></p>
    <p class="footer_right">©<%=new Date().getFullYear()%>—All rights reserved</p>
</div>