<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css?v=<%= Date.now() %>" />
  </head>
  <body>
    <div class="header">
      <h1 class="header_logo"><span>{ </span>Rapid<span> }</span> <i>blogs</i></h1>
      <div class="header_menue">
        <a href="/">HOME</a>
        <a href="/ADD">ADD</a>
      </div>
    </div>
    <div class="small_menue">
      <a href="/">HOME</a>
      <a href="/ADD">ADD</a>
    </div>
  </body>
</html>
